
// Z-index
$zindex: (
    header:             2,
    body:               1
);

@mixin zindex($object) {
    z-index: map-get($zindex, #{$object});
}

// Flexbox mixin
@mixin flexbox($wrap: nowrap, $direction: row, $justify: space-between, $align: flex-start) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
