@import '../library/reset';
@import '../library/variables';
@import '../library/house';
@import '../library/mixins';

body {
    background-color: grey;
}

.map {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    .position-camera {
        transform: translate(-3600px,-2600px);
        .base {
            $w: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            // perspective: 10000px;
            transform: rotate(210deg) skew(-30deg) scaleY(0.864);
            .tile {
                width: $w;
                height: $w;
                position: relative;
                background-color: green;
                box-shadow: 0px 0px 0px 1px rgba(black, 1);
                // transform-style: preserve-3d;
                // transform: rotateX(-45deg) rotateY(30deg);
                // transform: rotate(45deg) skew(0deg) translate(0px, 0px) scaleY(1);
                // transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
                .house {
                    position: absolute;
                    transform-origin: 0 0;
                    top: 30px;
                    left: 30px;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(red, 0.4);
                }
                .building {
                    position: absolute;
                    transform-origin: 0 0;
                    top: 30px;
                    left: 30px;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(blue, 0.4);
                }
                .apartment {
                    position: absolute;
                    transform-origin: 0 0;
                    top: 30px;
                    left: 30px;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(yellow, 0.4);
                }
            }
        }
    }
}